body {
  background: #323975;
}

.fa-snowflake {
  animation: fall 10s linear forwards;
  color: #fff;
  position: absolute;
  top: -20px;
}

@keyframes fall {
  to {
    transform: translateY(185vh);
  }
}
